* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --button-orange: #ff8a00;
    --button-green: #3fa72f;
    --button-gray: #311f09;
    --color: #ffffff;
    --background-color: #ecf0f1;
}

.btn-small-green {
    height: 50px;
    color: var(--color);
    background-color: var(--button-green);
    border-radius: 133px;
    border: none;
    padding-left: 36px;
    padding-right: 36px;
    cursor: pointer;
}

.btn-large-green {
    height: 74px;
    color: var(--color);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--button-green);
    border: none;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
}

.btn-large-orange {
    height: 74px;
    color: var(--color);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--button-orange);
    border: none;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
}

.btn-md-orange {
    height: 55px;
    color: var(--color);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--button-orange);
    border: none;
    border-radius: 162px;
    padding-right: 36px;
    padding-left: 36px;
    cursor: pointer;
}

.btn-large-black {
    height: 74px;
    color: var(--color);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--button-gray);
    border: none;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
}

.btn-large-gray {
    height: 74px;
    color: var(--button-gray);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--background-color);
    border: none;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
}

.btn-large-white {
    height: 74px;
    color: var(--button-gray);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--color);
    border: none;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    border: none;
}
.btn-s {
    height: 50px;
    border-radius: 133px;
    padding-left: 36px;
    padding-right: 36px;
}
.btn-l {
    height: 74px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
}
.btn-m {
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 162px;
    padding-right: 36px;
    padding-left: 36px;
}
.btn-green {
    color: var(--color);
    background-color: var(--button-green);
}
.btn-orange {
    color: var(--color);
    background-color: var(--button-orange);
}
.btn-black {
    color: var(--color);
    background-color: var(--button-gray);
}
.btn-gray {
    color: var(--button-gray);
    background-color: var(--background-color);
}
.btn-white {
    color: var(--button-gray);
    background-color: var(--color);
}
