:root {
    --color-orange: #ff8a00;
    --color-1: #311f09;
    --color-2: #5c4529;
}

/* Header */

.header {
    height: 80px;
}

.logo-white {
    height: 51px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;

    align-items: center;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.navigation__links {
    gap: 45px;
    align-items: center;
}

.navigation__links li a {
    color: var(--color-1);
    font-size: 14px;
}

#navigation__link {
    color: var(--color-orange);
}
/* .navigation__links li:first-child a {
    color: #ff8a00;
} */

/* .navigation__links .navigation__link {
    color: #ff8a00;
} */

.navigation__actions {
    align-items: center;
    /* gap: 25px; */
}

.navigation__actions img {
    height: 24px;
    width: 24px;
}

.navigation__actions figure {
    height: 50px;
    width: 50px;
    background-color: #ecf0f1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

/* Hero Section */

.hero-section__container {
    max-width: 1440px;
    /* padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px; */

    margin: 0 auto;
    align-items: center;
    gap: 40px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__right {
    width: 50%;
    height: max-content;
}

.hero-section__img {
    width: 100%;
}

.hero-section__left span {
    display: block;

    background-color: rgba(255, 138, 0, 0.2);
    color: var(--color-orange);

    border-radius: 123px;
    padding: 5px 20px;
}

.hero-section__heading {
    color: var(--color-1);
    font-size: 80px;

    line-height: 88px;
}

.hero-section__description {
    margin-bottom: 50px;
    color: var(--color-2);
    font-size: 20px;
}

.hero-section__cta button:first-child {
    margin-right: 12px;
}
/* Welcome Section */

#welcome-section {
    background-color: rgba(63, 198, 110, 0.1);
}

.welcome-section__container {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding-top: 80px;
    padding-right: 80px;
}

.welcome-section__left {
    width: 55%;
}
.welcome-section__left img {
    width: 100%;
}

.welcome-section__right {
    width: 45%;
}

.welcome-section__right h2 {
    line-height: 70px;
    color: var(--color-1);
    margin-bottom: 50px;
}

.welcome-section__right h2 span {
    color: var(--color-orange);
}

.welcome-section__right p {
    color: var(--color-2);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}

/* Menu Section */

.menu-section__container {
    max-width: 1440px;
    margin: 0 auto;
}

.menu-section__container h2 {
    line-height: 70px;
    color: var(--color-1);
    margin-bottom: 50px;
}

.menu-section__filters {
    margin-bottom: 60px;
}

.menu-section__meals {
    flex-wrap: wrap;
    gap: 40px;
}

.menu-section__stars {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menu-section__price {
    line-height: 38px;
    color: var(--color-1);
}

.card {
    width: calc((100% - 80px) / 3);

    padding: 35px 37px;
    background-color: #d0ccc733;
    background-color: rgba(208, 204, 199, 0.2);
    border-radius: 70px;
}

.card__img {
    width: 100%;
}

.card__title {
    font-size: 30px;
    line-height: 60px;

    margin-bottom: 5px;
}

.card__text {
    font-size: 14px;
    line-height: 28px;
    color: rgb(89, 68, 43);

    margin-bottom: 30px;
}

.card__footer {
    align-items: center;
}

/* Reservation Section */

#reservation-section {
    background-color: rgba(255, 244, 231, 0.4);
}

.reservation-section__container {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    margin: 0 auto;

    align-items: center;
    gap: 40px;
}

.reservation-section__left {
    width: 55%;
}

.reservation-section__left img {
    width: 100%;
}

.reservation-section__right {
    width: 45%;
}

.reservation-section__right h2 {
    line-height: 70px;
    color: var(--color-1);
    margin-bottom: 50px;
}

.reservation-section__right h2 span {
    color: var(--color-orange);
}

.reservation-section__right p {
    color: var(--color-2);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}

/* Chefs Section */

.chefs-section__container {
    max-width: 1440px;
    margin: 0 auto;
}
.chefs-section__container h2 {
    line-height: 70px;
    color: var(--color-1);
    margin-bottom: 50px;
}
.chefs-section__container h2 span {
    color: var(--color-orange);
}

.chefs-section__chefs {
    gap: 40px;
    margin: 80px;
}

.chefs-section__container .btn-large-orange {
    display: block;
    margin: 0 auto;
}

.chefs-section__chef {
    width: calc((100% - 80px) / 3);
}

.chefs-section__chef img {
    width: 100%;

    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: rgb(196, 196, 196);
}

.chefs-section__chef:nth-child(2) img {
    background-color: #ff8a0033;
    background-color: rgba(255, 138, 0, 0.2);
}

.chefs-section__chef:last-child img {
    background-color: #9d654233;
    background-color: rgba(157, 101, 66, 0.2);
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: var(--color-1);
}

.chefs-section__chef p {
    color: rgb(160, 141, 118);

    font-weight: 400;
}

/* Testimonials Section */

#testimonials-section {
    background-image: url("./assets/customers.png");
    background-size: cover;
    background-position: top;
    background-color: rgb(251, 250, 250);
}

.testimonials-section__container {
    max-width: 1440px;
    margin: 0 auto;
}

.testimonials-section__container h2 {
    line-height: 70px;
    color: var(--color-1);
    margin-bottom: 100px;
}

.testimonials-section__testimonials {
    gap: 40px;
}

.testimonials-section__testimonial img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 35px;
}

.testimonials-section__testimonial h4 {
    color: var(--color-1);
}

.testimonials-section__testimonial h5 {
    color: var(--color-2);

    line-height: 36px;

    margin-bottom: 20px;
}

.testimonials-section__testimonial p {
    color: var(--color-2);
    font-weight: 400;
    line-height: 32px;
}

/* Business Hours Section */

.hours-section__container {
    max-width: 1440px;

    margin: 0 auto;
}

.hours-section__background {
    max-width: 1150px;
    height: 750px;
    margin: 0 auto;
    border-radius: 150px;

    background-image: url("./assets/business-hours.png");

    align-items: center;
    justify-content: center;
}
.hours-section__hours h2 {
    line-height: 70px;
    margin-bottom: 15px;
}

.hours-section__hours h3 {
    font-size: 30px;
    line-height: 60px;
}

.hours-section__lunch-dinner {
    margin: 0 auto;
    margin-bottom: 50px;
}

.hours-section__lunch-dinner p {
    line-height: 200%;
}

.hours-section__lunch-dinner p:last-child {
    text-align: right;
}

.hours-section__hours .btn-large-orange {
    margin-right: 15px;
}

/* Footer */

#footer {
    background-color: var(--color-1);
}

.footer__container {
    max-width: 1440px;
    margin: 0 auto;
}

.footer__content {
    margin-bottom: 80px;
}

.footer__text {
    color: rgb(227, 226, 224);

    line-height: 32px;
    display: block;
}

.footer__heading {
    color: var(--color-orange);
}

.footer__social-icons {
    margin-top: 40px;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__contact p {
    line-height: 24px;
}

.hours-section__hours h2,
.testimonials-section__container h2,
.chefs-section__container h2,
.reservation-section__right h2,
.menu-section__container h2,
.welcome-section__right h2 {
    font-size: 60px;
}

.hero-section__img,
.welcome-section__left img,
.card__img,
.reservation-section__left img,
.chefs-section__chef img {
    height: auto;
}

/* .footer__social-icons img:first-child {
    margin-right: 30px;
} */

.footer__social-icons img:nth-child(2),
.footer__social-icons img:first-child {
    margin-right: 30px;
}

.footer__contact,
.footer__brand,
.testimonials-section__testimonial {
    width: 30%;
}

.testimonials-section__testimonial p,
.footer__text {
    font-size: 16px;
}

.hero-section__left span,
.testimonials-section__testimonial h5 {
    font-size: 18;
}

.hero-section__left span,
.card__img,
.card__img,
.hero-section__heading {
    margin-bottom: 24px;
}

.chefs-section__chef h4,
.footer__heading,
.testimonials-section__testimonial h4,
.chefs-section__chef p {
    line-height: 50px;
}

.menu-section__container h2,
.card__title,
.card__text,
#chefs-section,
.testimonials-section__container h2,
.testimonials-section__testimonial,
.hours-section__background,
.hours-section__lunch-dinner p,
.text-center {
    text-align: center;
}

.navigation,
.footer__content,
.menu-section__filters,
.card__footer,
.testimonials-section__testimonials {
    justify-content: space-between;
}

.hero-section__heading,
.menu-section__price,
.card__title,
.chefs-section__chef h4,
.testimonials-section__testimonial h4,
.testimonials-section__testimonial h5,
.hours-section__hours h3 {
    font-weight: 600;
}

.menu-section__price,
.chefs-section__chef h4,
.chefs-section__chef p,
.testimonials-section__testimonial h4,
.footer__heading {
    font-size: 25px;
}

.footer__content,
.navigation,
.navigation__links,
.navigation__actions,
.navigation__actions figure,
.hero-section__container,
.welcome-section__container,
.menu-section__filters,
.menu-section__meals,
.card__footer,
.reservation-section__container,
.chefs-section__chefs,
.testimonials-section__testimonials,
.hours-section__background {
    display: flex;
}

.hours-section__hours h2,
.hours-section__hours h3,
.hours-section__lunch-dinner p {
    color: rgb(255, 255, 255);
}

.hero-section__left span,
.menu-section__stars,
.hours-section__lunch-dinner {
    width: max-content;
}

.hero-section__container,
.menu-section__container,
.chefs-section__container,
.testimonials-section__container,
.hours-section__container,
.footer__container {
    padding: 80px;
}
